/videos/
/SpeechRecognition/speech-demo/
/SpeechRecognition/audios/
/TextAnalysis/Bert/
/TextAnalysis/Bert-BiLSTM-CRF-pytorch/
/WETEC/
/RawDataURL/
/TextAnalysis/vector_embed.npz
/VideoFetcher/
/VideoScoring/
